/* Google Fonts Import Dosis and Exo */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600;700;800&family=Exo:wght@400;500;600;700&display=swap");

/* General Styling, Tag Selectors */
body {
  font-family: "Exo", sans-serif;
}
h1 {
  font-family: "Dosis", sans-serif;
}
h2 {
  font-family: "Dosis", sans-serif;
}

p {
  font-family: "Exo", sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: #ffffff;
}

button:hover,
.btn:hover,
.btn-outline-dark:hover {
  background-color: #8c3eff;
  border-color: #8c3eff;
}

/* Navbar Styling */
.bg-light {
  background: rgb(189, 15, 225);
  background: linear-gradient(
    180deg,
    rgba(189, 15, 225, 1) 0%,
    rgba(17, 2, 66, 1) 50%
  );
}

.navbar-brand {
  margin-left: 5%;
}

.navbar-light .navbar-toggler {
  border-color: #bd0fe1;
  background-color: #bd0fe1;
}

.icon-nav {
  margin: auto 3%;
  color: #bd0fe1;
}

.icon-nav:hover {
  color: #8c3eff;
}

.btn-nav {
  margin: auto 5%;
  border-color: #bd0fe1;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Intro Section */
#intro {
  width: 100%;
}

.intro-bg {
  width: 100%;
}

.intro-title {
  position: relative;
  padding: 5% 5% 0 5%;
  font-size: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 4px 20px #924df9;
  text-align: center;
}

.intro-subheading {
  position: relative;
  padding: 2% 5% 0 5%;
  font-size: 2.25rem;
  font-weight: 600;
  color: #8c3eff;
  text-align: center;
}

.intro-logo {
  text-align: center;
  padding-top: 2%;
}

/* About Section */
#about {
  width: 100%;
  background-color: #0e0240;
}

.about-container {
  width: 80%;
  margin: 0 auto;
}

.about-title {
  padding: 8% 5% 0 5%;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

.about-text {
  padding: 2% 5% 8% 5%;
  font-size: 2.25rem;
  font-weight: 500;
  color: #8c3eff;
  text-align: center;
  margin-bottom: 0;
}

/* Project Section */
#project-section {
  width: 100%;
  background: #0e0240;
}

.cards-bg {
  background-image: url("../public/circuitLeft.svg"),
    url("../public/circuitRight.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat;
}

.p-section-title {
  padding: 8% 5% 0 5%;
  font-size: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #ff3366;
  text-align: center;
}

.glass-card {
  background: linear-gradient(
    152.97deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(42px);
  opacity: 0.95;
  border-radius: 16px;
  width: 80%;
  margin: 5% auto;
  padding-bottom: 3%;
}

.project-name {
  margin: 10% 10%;
  font-size: 3rem;
  font-weight: 600;
  color: #ffffff;
}

.project-tags {
  margin: 10% 10%;
  font-size: 2.25rem;
  font: 600;
  color: #8c3eff;
}

.project-button {
  display: inline-block;
  margin: 2% 10%;
  border-color: #bd0fe1;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 30px;
  width: 250px;
  height: 75px;
}

.project-img {
  margin: auto;
}
